@import "../variables";

.NotFound {
  text-align: center;
  background-color: $yellow;
  height: 100vh;

  .NotFound-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
}
